.navbar {
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo {
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(to right, #e50914, #ff6b6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-left ul li {
    cursor: pointer;

}

.navbar-right {
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.navbar-right .profile {
    border-radius: 4px;
    width: 30px;
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.navbar .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}


.nav .dropdown p {
    font-size: 13px;
    cursor: pointer;
}


.navbar-profile:hover .dropdown {
    display: block;
}